@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tooltip styling for group-hover */
.group:hover .group-hover\:block {
    display: block;
    z-index: 50;
    position: absolute;
}

.dropdown-menu {
  z-index: 2000 !important;
}

@media print {
  #print-area {
    zoom: 0.7;
  }

  .no-print {
    display: none !important;
  }

  .print\:bg-none {
    background-image: none !important;
    background: none !important;
  }

  .print-scale-zone {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: unset !important;
    max-width: unset !important;
  }

  .print-scale-zone > div {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }

  .dragzone-print-scale {
    /* Remove border for print, optional */
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }
  
}